<template>
    <div class="card">
        <h3 class="card-header  text-center">Register Area</h3>
        <div class="card-body">
            <form  @submit.prevent="submitForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Fist name</label>
                        <input type="text" class="form-control" 
                            v-model.trim="$v.firstname.$model" :class="{
                                'is-invalid':$v.firstname.$error, 'is-valid':!$v.firstname.$invalid
                        }">
                        <div class="valid-feedback">Your first name is valid!</div>
                        <div class="invalid-feedback">
                            <span v-if="! $v.firstname.required">First name is required.  </span>
                            <span v-if="! $v.firstname.minLength">First name must have at least {{$v.firstname.$params.minLength.min}} letters</span>
                            <span v-if="! $v.firstname.minLength">First name must have at most {{$v.firstname.$params.maxLength.max}} letters</span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="">Last name</label>
                        <input type="text" class="form-control" 
                            v-model.trim="$v.lastname.$model" :class="{
                                'is-invalid':$v.lastname.$error, 'is-valid':!$v.lastname.$invalid
                        }">
                        <div class="valid-feedback">Your last name is valid!</div>
                        <div class="invalid-feedback">
                            <span v-if="!$v.lastname.required">Last name is required.  </span>
                            <span v-if="!$v.lastname.minLength">Last name must have at least {{$v.lastname.$params.minLength.min}} letters</span>
                            <span v-if="!$v.lastname.minLength">Last name must have at most {{$v.lastname.$params.maxLength.max}} letters</span>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="">Username</label>
                        <input type="text" class="form-control" 
                            v-model.trim="$v.username.$model" :class="{
                                'is-invalid':$v.username.$error, 'is-valid':!$v.username.$invalid
                        }">
                        <div class="valid-feedback">Your username  is valid!</div>
                        <div class="invalid-feedback">
                            <span v-if="!$v.username.required"> Username is required </span>
                            <span v-if="!$v.username.isUnique"> This username is already registered </span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="">Email</label>
                        <input type="email" class="form-control" 
                            v-model.trim="$v.email.$model" :class="{
                                'is-invalid':$v.email.$error, 'is-valid':!$v.email.$invalid
                        }">
                        <div class="valid-feedback">Your email  is valid!</div>
                        <div class="invalid-feedback">
                            <span v-if="!$v.email.required"> email is required </span>
                            <span v-if="!$v.email.isUnique"> This email is already registered </span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="">Password</label>
                        <input type="password"  id="password" class="form-control" 
                            v-model.trim="$v.password.$model" :class="{
                                'is-invalid':$v.password.$error, 'is-valid':!$v.password.$invalid
                        }">
                        <div class="valid-feedback">Your password  is valid!</div>
                        <div class="invalid-feedback">
                            <span v-if="!$v.password.required"> password is required </span>
                            <span v-if="!$v.password.minLength"> {{ $v.password.$params.minLength.min}} characters minium. </span>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" id="showpassword" class="form-check-input" 
                           @click="toggleShowPassword" v-model="showpassword" 
                        >
                        <label class="form-check-label" for="showpassword">Show password</label>
                    </div>
                    <div class="form-group col-md-12">
                        <label for=""> repeat Password</label>
                        <input type="password"  class="form-control" 
                            v-model.trim="$v.repeatpassword.$model" :class="{
                                'is-invalid':$v.repeatpassword.$error, 'is-valid':!$v.repeatpassword.$invalid
                        }">
                        <div class="valid-feedback">Your repeat password  is valid!</div>
                        <div class="invalid-feedback">
                              <span v-if="!$v.repeatpassword.required"> password is required </span>
                            <span v-if="!$v.repeatpassword.sameAsPassword"> Password must be identical. </span>
                             <span v-if="!$v.repeatpassword.minLength"> {{ $v.repeatpassword.$params.minLength.min}} characters minium. </span>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="">Age</label>
                        <input type="number" class="form-control" 
                            v-model.number.lazy="$v.age.$model" :class="{
                                'is-invalid':$v.age.$error, 'is-valid':!$v.age.$invalid
                        }">
                        <div class="valid-feedback">Your age  is valid!</div>
                        <div class="invalid-feedback">
                            <span v-if="!$v.age.between">Must be between {{ $v.age.$params.between.min }}  and {{ $v.age.$params.between.max }} </span>
                        </div>
                    </div>
                     <div class="form-group col-md-12">
                        <label for="">Phone number</label>
                        <input type="number" class="form-control" 
                            v-model.trim="$v.phone.$model" :class="{
                                'is-invalid':$v.phone.$error, 'is-valid':!$v.phone.$invalid
                        }">
                        <div class="valid-feedback">Your phone  is valid!</div>
                        <div class="invalid-feedback">
                            <span v-if="!$v.phone.required"> phone is required </span>
                            <span v-if="!$v.phone.numeric"> This phone is already registered </span>
                        </div>
                    </div>

                     <div class="form-group col-md-12">
                        <label for="">Website</label>
                        <input type="url" class="form-control" 
                            v-model.trim="$v.url.$model" :class="{
                                'is-invalid':$v.url.$error, 'is-valid':!$v.url.$invalid
                        }">
                        <div class="valid-feedback">Your website  is valid!</div>
                        <div class="invalid-feedback">
                            <span v-if="!$v.url.required"> website is required </span>
                            <span v-if="!$v.url.numeric"> This website is invalid</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">
                        Submit {{ submitstatus }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import {required, minLength, maxLength, between, email,sameAs,numeric, url} from 'vuelidate/lib/validators'
export default {
    name: 'FormValidation',
    data () {
        return {
            firstname: '',
            lastname: '',
            username: '',
            password: '',
            repeatpassword: '',
            showpassword: false,
            age:0,
            email: '',
            phone: '',
            url:'',
            submitstatus:null
        }
    },
    validations:{
        firstname: {
            required,
            minLength: minLength(3),
            maxLength: maxLength(10),

        },
        lastname:{
            required,
            minLength: minLength(5),
            maxLength: maxLength(12)
        },
        username:{
            required,
            isUnique (value){
                if(value === '') return true

                return new Promise ((resolve) => {
                    setTimeout( () => {
                        resolve(typeof value === 'string' && value.length % 2 !== 0)
                    },350+ Math.random() * 300)
                })
            }
        },
        email:{
            required,
            email,
            isUnique (value){
                if(value === '') return true
                
                var email_regex = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/; 

                return new Promise ((resolve) => {
                    setTimeout( () => {
                        resolve(email_regex.test(value))
                      return email_regex.test(value)
                    },350+ Math.random() * 300)
                })
            }
        },
        password:{
            required,
            minLength: minLength(8),
        },
        repeatpassword:{
            required,
            minLength: minLength(8),
            sameAsPassword: sameAs('password')
        },
        age:{
            between: between(15, 40)
        },
        phone: {
            required,
            numeric,
            minLength: minLength(12)
        },
        url:{
            required,
            url
        }
    },
    methods:{
        toggleShowPassword () {
            var show = document.getElementById('password')
            if(this.showpassword == false){
                this.showpassword = true
                show.type = "text"
            }
            else{
                this.showpassword = false
                show.type = "password"
            }        
        },
        submitForm(){
            this.$v.$touch()
            if(this.$v.$invalid){
                this.submitstatus = "FAIL"
            }
            else{
                this.submitstatus = "SUCCESS"
            }
        }
    }
}
</script>
<style scoped>
    
</style>