<template>
  <div id="app" class="container mt-5 mb-5" style="width:500px">
    <FormValidation />
  </div>
</template>

<script>
import FormValidation from './components/FormValidation.vue'

export default {
  name: 'App',
  components: {
    FormValidation
  }
}
</script>

<style>

</style>
